@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');

body {
  margin: 0;
  font-family: 'Architects Daughter', cursive;
  text-transform: uppercase;
  line-height: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  animation: main 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

main {
  background:linear-gradient( white, rgba(210, 210, 210, 0.6));
  filter: blur(0.5px);
  padding-bottom: 36px;
  /* opacity: 0.9; */
}

.animation {
  width: 50em;
  height: 4em;
  margin:1em;
  margin-top: 50%;
  margin-left: 400px;
  margin-bottom: 1em;;
  position: relative;
}

.Green {
  color: #138d3fff;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 5.2em; */
  /* animation: keyframe-1-slash 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
  position: absolute;
}

.black {
  color: black;
}

.light {
  font-weight: 300;
  font-size: 2.5em;
}

.bold {
  font-weight: 700;
}

.mask {
  overflow: hidden;
  position: relative;
}


.img{
  position: absolute;
  padding: 10px;
  transform: translateX(-375px);
}

/**************
* Animation *
**************/

@keyframes main{
  0% {
    transform: translate3d(0, 10em, 0);
    opacity: 0;
  }

  25% {
    transform: translate3d(0, -2em, 0);
    opacity: 1;
  }


  75%{
    transform: translate3d(0, -2em, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 10em, 0);
    opacity: 0;
  }
}

@keyframes keyframe-1-slash{
    0% {
      opacity: 0;
      transform: translate3d(0.25em, 0, 0);
    }

    25% {
      opacity: 0;
      transform: translate3d(0.25em, 0, 0);
    }

    45% {
      opacity: 1;
    }

    50% {
      transform: translate3d(6em, 0, 0);
      opacity: 1;
    }

    65%{
      transform: translate3d(6em, 0, 0);
      opacity: 1;
    }

    75% {
      opacity: 0;
    }


    100% {
      transform: translate3d(0.25em, 0, 0);
      opacity: 0;
    }
}

@keyframes animation-1-text-1 {
  0% {
    opacity: 0;
    transform: translate3d(-10.5em, 0, 0);
  }

  25% {
    opacity: 0;
    transform: translate3d(-10.5em, 0, 0);
  }

  45% {
    opacity: 1;
  }

  50% {
    transform: translate3d(1.5em, 0, 0);
    opacity: 1;
  }

  65%{
    transform: translate3d(1.5em, 0, 0);
    opacity: 1;
  }

  75% {
    opacity: 0;
  }


  100% {
    transform: translate3d(-10.5em, 0, 0);
    opacity: 0;
  }
}


#text-1{
  animation: animation-1-text-1 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#text-2{
  animation: animation-1-text-1 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
